.notopborder{
	border-top : none !important;
}
th, td{
	text-align : center;
}
.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}
.logo a{ 
    text-decoration: none;
}
.footer_section #footer{
	text-align: center;
}
tbody span, thead:nth-child(n+2) th{
	color: #2b0566;
}